
@{
    ViewBag.Title = "EmployeeDashboard";
}

<h3><u>Employee Dashboard</u></h3>
<form action="" method="post">
    <a href="/Reg/EmployeeDashboard">Requests</a>
    <a href="/Reg/ResAdmin"> Restaurants </a>
    <a href="/Reg/EmpAdmin"> Employees </a>
    <a href="/Reg/Login"> Logout</a>
    <br />
    <br />
    <br />
</form>


